TMDB_API_KEY=
TMDB_READ_ACCESS_TOKEN=

NEXT_PUBLIC_BASE_URL=https://supawatch.com
NEXT_PUBLIC_APP_NAME=Supawatch
NEXT_PUBLIC_PWA_ICON=/favicon.ico
NEXT_PUBLIC_SOCIAL_IMAGE=/images/space_odyssey_bg.png

# For Docker Compose
COMPOSE_PROJECT_NAME=supawatch
COMPOSE_FILE=docker-compose.local.yml
